<a href="https://colab.research.google.com/github/083davii/professor-pablo/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#criar uma listas
lista_vazia = []

#Lista com elementos
lista_com_coisas = [2, 4, 4, 'Zé', 'Mané']

In [3]:
#Acessando Elementos da lista
lista = [1,2,3, "quatro", "cinco"] 


print(lista[0])  # 1
print(lista[3])  # "quatro"
print(lista[-1]) # "cinco"

1
quatro
cinco

In [4]:
nomes =[ 'zé', 'tião','joaquim']
nomes.append('julia')

#vários valores
outrosNomes = ['Ana', 'Zabé', 'Maria']
nomes.extend(outrosNomes)

nomes

['zé', 'tião', 'joaquim', 'julia', 'Ana', 'Zabé', 'Maria']

In [5]:
#Crie uma lista de números e 
numeros = [ 2, 4, 1, 6, 9, 12]
#remova o primeiro elemento da lista
numeros.remove(numeros[0])
#remova o último elemento da lista
numeros.pop()

numeros

[4, 1, 6, 9]

In [14]:
#Recebe uma lista numérica e 
#Retorna o quadrado de cada número
 
lista2 = [1,4,5,7,8,9]
newList = list(map(lambda x: x*x, lista2))
newList

[1, 16, 25, 49, 64, 81]

In [15]:
fruts = ['banana', 'pera', 'uva', 'cajá', 'manga']

In [22]:
#Receba uma lista de frutras e
#Retorne uma lista com a quantidade de caracteres.

lista_frutas = ['banana', 'pera', 'uva', 'cajá', 'manga']
newFrutas = list(map(lambda  x : len(x), lista_frutas))
newFrutas

[6, 4, 3, 4, 5]

In [23]:
#MAP map(função, iteravel)
precos = [9.99, 2.50, 3.45, 7.00, 10.90]

In [25]:
#pegrar os preços de uma lista
#adicionar 2 a cada um deles 

precos = [9.99, 2.50, 3.45, 7.00, 10.90]
newPrecos = list(map(lambda x : x+2, precos))
newPrecos

[11.99, 4.5, 5.45, 9.0, 12.9]

In [27]:
notas = [6,7,3.5,9,6.5]
#quero apenas os aprovrados....
aprovados = list(filter(lambda x : x>=7, notas))

aprovados

[7, 9]